@import url(components/header.css);
@import url(components/basket.css);
@import url(components/delivery.css);
@import url(components/pay.css);
@import url(components/receiver.css);
@import url(components/total-order.css);
@import url(components/footer.css);

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #9797af;
  --gray-bg: #f6f6fa;
  --violet: #6725a8;
  --violet-head: #8551b9;
  --violet-head-border: #a37cca;
  --pink: #cb11ab;
  --orange: #f55123;
  --green: #0cb477;
  --gray-border: #c5c5c8;
  --gray-underline: #e6e6e6;
}

* {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--violet);
}
.block_white {
  background-color: var(--white);
  border-radius: 15px;
  padding: 17px 24px 24px 24px;
  margin-top: 16px;
}