.modal-content-delivery {
  background-color: var(--white);
  margin: 15% auto;
  padding: 16px 24px 24px 24px;
  border-radius: 16px;
  width: 500px;
  height: 408px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}
.list-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}
.text__sm {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.delivery-method {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.method_btn {
  border-radius: 20px;
  border: 2px solid var(--modal-btn);
  background: var(--white);
  width: 224px;
  height: 36px;
  cursor: pointer;
}
.modal-btn_active {
  border: 2px solid var(--pink);
}
#to-point {
  padding-right: 8px;
}
.address-subtitle {
  margin-bottom: 8px;
}
.address {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}
.address-point {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}
.info-range-modal {
  font-weight: 400;
}
.info-text {
  color: var(--modal-text-sm);
  font-weight: 400;
}
.address-courier {
  padding-left: 8px;
}

@media ((min-width: 320px) and (max-width: 764px)) {
  .modal-content-delivery {
    margin: 0 auto;
    padding: 16px;
    border-radius: 0;
    max-width: 764px;
    width: 100%;
    height: 100vh;
  }
  .label-flex {
    min-width: 230px;
    width: 100%;
  }
  .btn-select {
    width: 100%;
  }
}
