/* Pay-block*/
.pay {
  padding-top: 20px;
}
.pay-card-data {
  display: flex;
  margin-top: 10px;
  margin-bottom: 3px;
}
.card__date {
  margin-left: 12px;
}

@media ((min-width: 320px) and (max-width: 1023px)) {
  .pay-card-data {
    margin-top: 0;
  }
}
