/* Pay-block*/
.receiver {
  padding-bottom: 20px;
  margin-bottom: 21px;
}
.receiver-form {
  width: 700px;
  display: flex;
  flex-direction: column;
}
.receiver-data_top {
  margin: 32px 0 35px 0;
  display: flex;
  justify-content: space-between;
}
.receiver-data_bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.form-item {
  position: relative;
  width: 100%;

}
.item_top {
  max-width: 338px;
}
.item_bottom {
  max-width: 217px;
}
.form__input {
  width: 100%;
  padding: 5px 0 5px 1px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--gray-border);
}
.form__label {
  position: absolute;
  pointer-events: none;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: .3s;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.5px;
  color: var(--gray);
}
.form__input:focus~.form__label,
.form__input:not(:focus):valid~.form__label {
  top: -23px;
  font-size: 13px;
  letter-spacing: -0.2px
}
/* Error valid form*/
.error .form__input {
  color: var(--orange);
  border-bottom: 2px solid var(--orange);
}
.error + .form-item {
  border-bottom: none;
}
.error-label {
  color: var(--orange);
  font-size: 14px;
}

@media (min-width: 1025px) {
  .receiver-form {
    width: 590px;
  }
  .item_top {
    max-width: 283px;
  }
  .item_bottom {
    max-width: 180px;
  }
}
@media ((min-width: 320px) and (max-width: 1024px)) {
  .receiver-data_top,
  .receiver-data_bottom {
    display: flex;
    flex-direction: column;
  }
  .item_top,
  .item_bottom  {
    max-width: 283px;
    margin-bottom: 40px;
  }
  .item_bottom:last-child {
    margin-bottom: 12px;
  }
  .receiver-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form__input {
    padding: 5px 0 5px 1px;

  }
  .receiver-data_top {
    margin: 20px 0 0 0;
  }
  .receiver-data_bottom {
    margin-bottom: 0;
  }
}